.logo {
  width: 100px;
  height: 100px;
  margin-top: -10px;
}

.desc {
  background: rgb(219, 9, 219);
  color: black;
  text-align: center;
}

.desc p {
  line-height: 30px;
  font-size: 18px;
  color: black;
}

.finance {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.back {
  background: rgb(9, 37, 37);
  text-align: center;
}

.back a {
  text-decoration: none;
  color: cyan;
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .finance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
